
.cabecalho{
    
    height: max-content;
    width: 800px;
    border-radius: 15px;
}

.conteudo{
    height: 1000px; width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 15px;

}

.calculo{
    display: flex;
    height: 800px;
}

.div_calculadora{
     width: 400px;
    align-content: center;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    
    
    padding: 15px;
    padding-right: 0px;
    border-width: 1px;
    
    border-right: solid;
    
    
}
img{
    max-width: 100%;
}
input{
    border-radius: 10px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 20px;
    
}
body{
    display: flex;
    justify-content: center;
    background-color: #fbb040;
   
}

.div_texto{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
button{
    height: 50px;
    width: 150px;
    border: solid;
    border-radius: 25px;
    color: white;
    border-color: black;
    font-size: 20px;
    background-color: #df1c1f;
    transition: 0.3s;
    
}

.div_mensagem{
    margin-top: 30px;
    padding-left: 10px;
    width: 400px;
}

